<div class="push"></div>
<footer>
  <div class="socialFooter">
    <a class="octagon" target="_blank"href="https://www.facebook.com/profile.php?id=100006447601968"><i class="fab fa-facebook-f"></i></i></a>
    <a class="octagon" target="_blank"href="https://plus.google.com/+MariuszNajwer23"><i class="fab fa-google-plus-g"></i></a>
    <a class="octagon" target="_blank"href="https://twitter.com/najwer23"><i class="fab fa-twitter"></i></a>
    <a class="octagon" target="_blank"href="https://www.linkedin.com/in/najwer23/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-laws">&copy; 2018 Mariusz Najwer. Wszystkie prawa zastrzeżone</div>
</footer>
