<nav>
  <div class="fat-nav">
    <div class="fat-nav__wrapper">
      <ul>
        <li><a href="/"><i class="fas fa-home"></i> Start</a></li>
        <li><a href="/call"><i class="fas fa-ambulance"></i> Wezwij lekarza</a></li>
        <li><a href="/timetable"><i class="far fa-list-alt"></i> Dzisiejsze wizyty</a></li>
        <li><a href="#"><i class="fas fa-user-md"></i> O nas</a></li>
        <li><a href="#"><i class="fas fa-info"></i> Kontakt</a></li>
      </ul>
    </div>
  </div>
</nav>
